@media (max-width: 767px) {
    .triangle-orange {
        position: absolute;
        top: 0;
        left: -59px;
        border-bottom: 52.1px solid #f9c22e;
        border-left: 60px solid transparent;
    }

    .triangle-gunmetal {
        position: absolute;
        top: 0;
        left: 260px;
        border-bottom: 52.1px solid #1f2b37;
        border-right: 60px solid transparent;
    }
}

@media (min-width: 768px) {
    .triangle-orange {
        position: absolute;
        top: 8px;
        left: -68px;
        transform: scale(1.31);
        border-bottom: 52px solid #f9c22e;
        border-left: 60px solid transparent;
    }

    .triangle-gunmetal {
        position: absolute;
        top: 0;
        left: 260px;
        border-bottom: 68px solid #1f2b37;
        border-right: 60px solid transparent;
    }
  }

  @media (min-width: 1024px) {
    .triangle-gunmetal {
        display: none;
    }
  }

.button:hover > .icon {
    background-color: rgb(96, 165, 250);
    color:white;
}

.button:hover > .label {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(96, 165, 250);
    color:white;
}